.dashboard_background {
    background: #f0f0f0d0;
}

.header_title{
    background-color:  #b3b1b1;
    color:  #b5f1b9;
}

.title_card{
    color:  #ffffff;
}

.header_card{
    background-color:  #349cf1;
}

.card_style{
    background-color:  #b3b1b1;
}